.red {
  width: 80px;
  height: 80px;
  background: url(./img_css.png) no-repeat;
  background-color: lightsalmon;
}
#green {
  width: 80px;
  height: 80px;
  background: url(https://i.loli.net/2021/12/03/FQOmTVHJCXZn9ce.png) no-repeat;
  background-color: lightgreen;
}
