* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
html {
  height: 100%;
  width: 100%;
  body {
    color: white;
    text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    font-family: "微软雅黑", "Microsoft Yahei UI", Lato, Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
    #readMe {
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      background-color: rgba(0, 0, 150, 0.2);
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 10;
    }
    main {
      width: 100%;
      font-size: 8px;

      dl {
        @var: 20px;
        .damage-time {
          position: relative;
        }
        .damage-target {
          position: absolute;
          text-align: center;
          width: 6.5em;
          left: 3em;
        }
        .damage-name,
        .damage-effect {
          position: absolute;
          text-align: center;
          width: 10em;
          left: 9.5em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .damage-value {
          position: absolute;
          left: 18.5em;
          text-align: right;
          width: 4.5em;
        }
        .status {
          position: absolute;
          right: 0.2em;
          .icons {
            position: relative;
            top: -1px;
          }
          .icons-offset {
            position: relative;
            top: -3px;
          }
          .useless {
            filter: grayscale(100%) opacity(80%);
          }
          img {
            height: @var*1.25;
          }
        }
        .dodge {
          color: gray;
        }
        .physics {
          color: rgb(255, 100, 100);
        }
        .magic {
          color: rgb(100, 200, 255);
        }
        .darkness {
          color: rgb(255, 175, 255);
        }
        span {
          height: @var;
          line-height: @var;
        }
        dt:hover {
          filter: brightness(110%);
          cursor: pointer;
        }
        dt {
          background-color: rgba(50, 50, 50, 0.8);
        }
        dd {
          background-color: rgba(10, 10, 10, 0.4);
        }
      }
    }
  }
}
