* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "微软雅黑", "Microsoft Yahei UI", Lato, Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
html {
  height: 100%;
  width: 100%;
}
html #hover {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
}
html #hover:hover {
  cursor: pointer;
  filter: brightness(110%);
  opacity: 1;
}
html body {
  color: white;
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
  font-size: 14px;
  height: 100%;
  width: 100%;
}
html body #readMe {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  background-color: rgba(0, 0, 150, 0.2);
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0%;
  z-index: 10;
}
html body #readMe p {
  float: left;
  width: 100%;
}
html body #readMe p span {
  float: right;
  width: 1rem;
}
html body #readMe p label {
  float: left;
  text-align: left;
}
html body #readMe p input {
  float: right;
  width: 135px;
  text-align: right;
}
html body #readMe button {
  float: right;
  margin: 5px 0px;
  height: 25px;
  font-size: 14px;
  margin-right: 5px;
}
html body #readMe button:nth-of-type(1) {
  width: 100px;
  font-weight: bold;
}
html body #readMe button:nth-of-type(2) {
  width: 125px;
}
html body main {
  width: 100%;
  font-size: 8px;
}
html body main dl .damage-time,
html body main dl .damage-target,
html body main dl .damage-name,
html body main dl .damage-effect,
html body main dl .damage-value {
  margin: 0px 0.5em;
}
html body main dl .damage-effect {
  font-style: oblique;
  filter: opacity(0.5);
}
html body main dl .damage-value {
  margin-left: 0.5em;
}
html body main dl .status {
  position: absolute;
  right: 0.1em;
}
html body main dl .status .icons {
  position: relative;
  top: -1px;
}
html body main dl .status .icons-offset {
  position: relative;
  top: -3px;
}
html body main dl .status .useless {
  filter: grayscale(100%) opacity(80%);
}
html body main dl .status img {
  height: 25px;
}
html body main dl span {
  height: 20px;
  line-height: 20px;
}
html body main dl dt:hover {
  filter: brightness(110%);
  cursor: pointer;
}
