:root {
  --color: white;
  --background-color: teal;
}

html {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-weight: bold;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
  color: white;
  background-color: rgba(0, 0, 150, 0.2);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-weight: bold;
}
a {
  float: right;
  padding-right: 0%;
  color: white;
}
#sort ul {
  padding-left: 0px;
  list-style: none;
  margin: 0px;
}

#sort article {
  display: inline-block;
}
#sort span {
  border: 1px solid white;
  font-size: 0.97rem;
  cursor: pointer;
}
#sort span:hover {
  color: var(--color);
  background-color: var(--background-color);
}

#sort li {
  height: 21px;
  user-select: none;
  height: 21px;
  font-size: 10px;
}
#sort article {
  width: 4rem;
  text-align: center;
}
#sort article:hover {
  color: var(--color) !important;
  background-color: var(--background-color);
}
#readme {
  position: absolute;
  top: 50%;
  right: 0px;
  height: 100%;
  width: 50%;
}
