html {
  overflow: hidden;
  font-weight: bold;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
tr {
  display: block;
  padding: 5px 0px;
  user-select: none;
}
td {
  padding: 0px;
  background-size: cover;
}
#readMe {
  padding: 0px 25px;
  float: left;
  font-weight: bold;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
  color: white;
  font-size: 14px;
}
a{
  color:greenyellow;
}
main {
  float: right;
}
aside {
  height: 100%;
  width: 100%;
  text-align: center;
  border: 1px dashed yellow;
  border-style:dashed;
}
