* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html > body {
  overflow-y: hidden;
  overflow-x: hidden;
  user-select: none;
  font-size: 14px;
  height: 338px;
  width: 352px;
  font-family: "微软雅黑", "Microsoft Yahei UI", Lato, Arial, Helvetica, sans-serif;
  position: relative;
  padding: 5px;
}
html > body > input[type="number"] {
  position: absolute;
  right: 25px;
  width: 50px;
}
html > body > article {
  display: inline-block;
  position: absolute;
  right: 25px;
}
html > body > article > div.fcolorpicker-curbox {
  width: 50px !important;
  height: 20px !important;
  border: 1px solid black;
}
html > body > span,
html > body > label {
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -12px;
}
html > body > small {
  margin-top: 12.5px;
  position: absolute;
  left: 20px;
  color: gray;
  font-style: italic;
  font-size: 10.5px;
}
html > body > button {
  padding: 0px 24px;
  margin: 3px 12px;
}
html > body > button:nth-of-type(1) {
  font-weight: bold;
}
