* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* @font-face {
  font-family: SmartisanHei;
  src: url(http://act.diemoe.net/overlays/common/SmartisanHei.ttf);
} */
#job {
  font-weight: bold;
}
select {
  width: 6rem;
}
#pre {
  display: inline-block;
}
main {
  /* display: inline-block; */
  display: inline-block;
  padding-left: 10px;
  width: 6rem;
  height: 568px;
}

#pre > tr:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
table {
  display: inline-block;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 1px;
  border-spacing: 0px;
}
.pre-job {
  width: 4rem;
  text-shadow: -1px 0 2px #000, 0 1px 2px #000, 1px 0 2px #000, 0 -1px 2px #000;
  color: #fff;
  /* font-family: SmartisanHei; */
  font-weight: bold;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
td {
  width: 20px;
  height: 20px;
  border: 1px dashed gray;
  background-size: contain;
}
button {
  margin-top: 5px;
  width: 2.5rem;
}
.save {
  font-weight: bold;
}
.rec {
  float: right;
}
#area {
  margin-top: 15px;
}
#bg {
  margin-top: 15px;
}
#text {
  float: right;
}
.def {
  position: absolute;
  bottom: 2%;
  width: 110px;
}
#bgOpacity {
  width: 6rem;
}
#sort {
  padding-left: 1rem;
  width: 7rem;
  height: 568px;
  display: inline-block;
}
#updown {
  display: inline-block;
  height: 568px;
}
#sort > select {
  width: 100%;
  text-align: center;
}
.tank {
  color: blue;
}
.healer {
  color: green;
}
.dps {
  color: red;
}
