* {
  font-family: "微软雅黑", "Microsoft Yahei UI", Lato, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.tank {
  color: skyblue;
}
.healer {
  color: lightgreen;
}
.dps {
  color: tomato;
}
html > body button {
  display: block;
  width: 100%;
  margin: 5px 0px;
}
html > body > table {
  display: inline-block;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 1px;
  border-spacing: 0px;
  user-select: none;
}
html > body > table > tr.color-job:hover {
  cursor: pointer;
  filter: brightness(110%);
}
html > body > table > tr > td:nth-child(1) {
  width: 4rem !important;
  text-shadow: -1px 0 2px #000, 0 1px 2px #000, 1px 0 2px #000, 0 -1px 2px #000;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
html > body > table > tr > td {
  width: 20px;
  height: 20px;
  border: 1px dashed #ccc;
  background-size: contain;
}
html > body > table > tr > td.base-job-name {
  color: white;
}
html > body > article {
  width: 80px;
  display: inline-block;
  margin: 0px 5px;
}
html > body > article > select:nth-child(1) {
  font-weight: bold;
}
html > body > article > ul > li {
  height: 25px;
}
html > body > article > ul > li > select > option.owned {
  color: lightgrey;
}
html > body > article from {
  font-size: small;
}
html > body > article textarea {
  width: calc(80px - 4px);
  height: 200px;
  margin-top: 15px;
}
html > body > aside {
  margin: 0px 5px;
  width: 100px;
  display: inline-block;
}
html > body > aside > label {
  font-size: 12px;
  font-weight: bold;
  display: block;
}
html > body > aside > input {
  width: 90px;
  margin-bottom: 5px;
}
html > body > aside > input:last-of-type {
  margin-bottom: 42px;
}
html > body > small {
  width: auto;
  display: block;
}
