* {
  font-family: 微软雅黑, "Microsoft Yahei UI", Lato, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
small {
  position: absolute;
}
.tank {
  color: skyblue;
}
.healer {
  color: lightgreen;
}
.dps {
  color: tomato;
}
#pre {
  position: absolute;
  top: 1rem;
  display: inline-block;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 1px;
  border-spacing: 0px;
  user-select: none;
}
#pre > tr:hover {
  cursor: pointer;
  filter: brightness(110%);
}
.pre-job {
  width: 4rem !important;
  text-shadow: -1px 0 2px #000, 0 1px 2px #000, 1px 0 2px #000, 0 -1px 2px #000;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
#pre td {
  width: 20px;
  height: 20px;
  border: 1px dashed #ccc;
  background-size: contain;
}

#job {
  font-weight: bold;
}
main {
  padding-left: 10px;
  width: 6rem;
  position: absolute;
  left: 285px;
  height: 398px;
}
.skill {
  width: 90px;
}
#btns > .set {
  width: 90px;
  margin: 2px 0px;
}

#sets {
  position: absolute;
  left: 395px;
  font-size: 12px;
  width: 100px;
}

.text {
  float: right;
}
#sets > input {
  width: 65px;
}
#ul > li {
  height: 20px;
}
#ul > li > select {
  height: 19px;
  font-size: 12px;
}
.owned {
  color: #aaa;
}
body > main {
  font-size: 12px;
}
#area {
  margin: 5px 0px;
  height: 50px;
  width: 88px;
  display: block;
}
.set-save {
  width: 100%;
  font-weight: bold;
  margin-top: 6px;
}
.set-noSave {
  width: 100%;
  margin-top: 4px;
}
#sets > label {
  display: block;
  width: 100%;
  height: 15.5px;
}
#sets small {
  color: gray;
  right: 5px;
  font-weight: normal;
}
#sets > input {
  height: 15px;
}
#grayInLoad {
  float: right;
}
body > small {
  text-align: center;
  width: 289px;
}
