html {
  overflow: hidden;
  font-weight: bold;
  user-select: none;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
tr {
  display: block;
}
td {
  background-size: cover;
}
#readMe {
  padding: 0px 25px;
  font-weight: bold;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
  font-size: 14px;
  position: fixed;
  z-index: 2;
  width: 100%;
}
p {
  color: greenyellow;
  margin: 5px 0px;
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 24px;
}
p:first-child {
  color: white;
  border: none;
  background: none;
}
main {
  float: right;
}
article {
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
  text-align: center;
  line-height: 30px;
}
#userRefresh {
  opacity: 0;
  margin: 0px;
  border: none;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 60%;
  height: 40%;
}
#userRefresh:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.01);
}
#userRefresh p {
  position: fixed;
  width: 342.5px;
  top: 285px;
  right: 3px;
  background-color: rgba(0, 0, 0, 0.4);
}
#userRefresh p:hover {
  color: yellow;
}
