* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微软雅黑", "Microsoft Yahei UI", Lato, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  user-select: none;
}
@lineheight: 24px;
body {
  header {
    cursor: pointer;
    z-index: 30;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.75;
    &.hide {
      opacity: 1;
      transform: scale(1.75);
      transform-origin: left top;
    }
  }
  .anim-opacity2 {
    display: block !important;
    opacity: 0;
    animation: opacity2 1s ease-in-out;
  }
  @keyframes opacity2 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  #hint {
    display: none;
    width: 100vw;
    height: 100vw;
    line-height: 100vw;
    position: fixed;
    font-size: 400%;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 5px #ff0000;
    z-index: 20;
  }
  main {
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba(51, 51, 51, 1);
    }
    &::-webkit-scrollbar-thumb {
      height: 30px;
      border-radius: 10px;
      background-color: rgba(216, 216, 216, 0.4);
    }
    &::-webkit-scrollbar-thumb:active {
      background-color: rgba(160, 160, 160, 1);
    }
    margin: 0px 0px 20px 0px;
    height: calc(100vh - 20px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(5, 5, 5, 0.45);
    table {
      width: 100%;
      border-collapse: collapse;
      color: white;
      thead {
        background-color: rgba(5, 5, 5, 0.45);
      }
      tbody {
        .spe {
          // background: rgba(55, 0, 0, 0.5);
          font-weight: bold;
          // border-top: 1px solid darkgray;
        }
        .changeZone {
          background: rgba(0, 55, 0, 0.5);
        }
        .ace {
          background: rgba(0, 0, 55, 0.25);
        }
        .deathEvent {
          text-align: left;
          font-weight: normal;
          // padding-left: 1em;
          letter-spacing: 0.2em;
          display:table-cell !important;
        }
        tr {
          cursor: pointer;
          &:hover {
            background-color: rgba(216, 216, 216, 0.4);
          }
          height: @lineheight;
          td {
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0px 2px;
          }
          td:nth-child(2) {
            max-width: 6em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          td:last-child:not(:first-child) {
            display: flex;
            justify-content: start;
            img {
              height: @lineheight;
              // width: @lineheight;
            }
          }
          td > span {
            display: inline-block;
            padding: 0px 5px;
            margin: 0px 5px;
            background: rgba(216, 216, 216, 0.4);
          }
          td > span:hover {
            color: lightblue;
          }
          .YOU {
            font-weight: bold;
            text-shadow: -1px 0 1px rgb(3, 169, 244), 0 1px 1px rgb(3, 169, 244), 1px 0 1px rgb(3, 169, 244), 0 -1px 1px rgb(3, 169, 244);
          }
          .GLA {
            text-shadow: -1px 0 1px rgb(123, 154, 162), 0 1px 1px rgb(123, 154, 162), 1px 0 1px rgb(123, 154, 162), 0 -1px 1px rgb(123, 154, 162);
          }
          .PGL {
            text-shadow: -1px 0 1px rgb(179, 137, 21), 0 1px 1px rgb(179, 137, 21), 1px 0 1px rgb(179, 137, 21), 0 -1px 1px rgb(179, 137, 21);
          }
          .MRD {
            text-shadow: -1px 0 1px rgb(169, 26, 22), 0 1px 1px rgb(169, 26, 22), 1px 0 1px rgb(169, 26, 22), 0 -1px 1px rgb(169, 26, 22);
          }
          .LNC {
            text-shadow: -1px 0 1px rgb(55, 82, 216), 0 1px 1px rgb(55, 82, 216), 1px 0 1px rgb(55, 82, 216), 0 -1px 1px rgb(55, 82, 216);
          }
          .ARC {
            text-shadow: -1px 0 1px rgb(173, 197, 81), 0 1px 1px rgb(173, 197, 81), 1px 0 1px rgb(173, 197, 81), 0 -1px 1px rgb(173, 197, 81);
          }
          .CNJ {
            text-shadow: -1px 0 1px rgb(95, 95, 95), 0 1px 1px rgb(95, 95, 95), 1px 0 1px rgb(95, 95, 95), 0 -1px 1px rgb(95, 95, 95);
          }
          .THM {
            text-shadow: -1px 0 1px rgb(103, 69, 152), 0 1px 1px rgb(103, 69, 152), 1px 0 1px rgb(103, 69, 152), 0 -1px 1px rgb(103, 69, 152);
          }
          .PLD {
            text-shadow: -1px 0 1px rgb(123, 154, 162), 0 1px 1px rgb(123, 161, 162), 1px 0 1px rgb(123, 154, 162), 0 -1px 1px rgb(123, 154, 162);
          }
          .MNK {
            text-shadow: -1px 0 1px rgb(179, 137, 21), 0 1px 1px rgb(179, 137, 21), 1px 0 1px rgb(179, 137, 21), 0 -1px 1px rgb(179, 137, 21);
          }
          .WAR {
            text-shadow: -1px 0 1px rgb(169, 26, 22), 0 1px 1px rgb(169, 26, 22), 1px 0 1px rgb(169, 26, 22), 0 -1px 1px rgb(169, 26, 22);
          }
          .DRG {
            text-shadow: -1px 0 1px rgb(55, 82, 216), 0 1px 1px rgb(55, 82, 216), 1px 0 1px rgb(55, 82, 216), 0 -1px 1px rgb(55, 82, 216);
          }
          .BRD {
            text-shadow: -1px 0 1px rgb(173, 197, 81), 0 1px 1px rgb(173, 197, 81), 1px 0 1px rgb(173, 197, 81), 0 -1px 1px rgb(173, 197, 81);
          }
          .WHM {
            text-shadow: -1px 0 1px rgb(95, 95, 95), 0 1px 1px rgb(95, 95, 95), 1px 0 1px rgb(95, 95, 95), 0 -1px 1px rgb(95, 95, 95);
          }
          .BLM {
            text-shadow: -1px 0 1px rgb(103, 69, 152), 0 1px 1px rgb(103, 69, 152), 1px 0 1px rgb(103, 69, 152), 0 -1px 1px rgb(103, 69, 152);
          }
          .ACN {
            text-shadow: -1px 0 1px rgb(50, 103, 11), 0 1px 1px rgb(50, 103, 11), 1px 0 1px rgb(50, 103, 11), 0 -1px 1px rgb(50, 103, 11);
          }
          .SMN {
            text-shadow: -1px 0 1px rgb(50, 103, 11), 0 1px 1px rgb(50, 103, 11), 1px 0 1px rgb(50, 103, 11), 0 -1px 1px rgb(50, 103, 11);
          }
          .SCH {
            text-shadow: -1px 0 1px rgb(50, 48, 123), 0 1px 1px rgb(50, 48, 123), 1px 0 1px rgb(50, 48, 123), 0 -1px 1px rgb(50, 48, 123);
          }
          .ROG {
            text-shadow: -1px 0 1px rgb(238, 46, 72), 0 1px 1px rgb(238, 46, 72), 1px 0 1px rgb(238, 46, 72), 0 -1px 1px rgb(238, 46, 72);
          }
          .NIN {
            text-shadow: -1px 0 1px rgb(238, 46, 72), 0 1px 1px rgb(238, 46, 72), 1px 0 1px rgb(238, 46, 72), 0 -1px 1px rgb(238, 46, 72);
          }
          .MCH {
            text-shadow: -1px 0 1px rgb(20, 138, 169), 0 1px 1px rgb(20, 138, 169), 1px 0 1px rgb(20, 138, 169), 0 -1px 1px rgb(20, 138, 169);
          }
          .DRK {
            text-shadow: -1px 0 1px rgb(104, 37, 49), 0 1px 1px rgb(104, 37, 49), 1px 0 1px rgb(104, 37, 49), 0 -1px 1px rgb(104, 37, 49);
          }
          .AST {
            text-shadow: -1px 0 1px rgb(177, 86, 28), 0 1px 1px rgb(177, 86, 28), 1px 0 1px rgb(177, 86, 28), 0 -1px 1px rgb(177, 86, 28);
          }
          .SAM {
            text-shadow: -1px 0 1px rgb(228, 90, 15), 0 1px 1px rgb(228, 90, 15), 1px 0 1px rgb(228, 90, 15), 0 -1px 1px rgb(228, 90, 15);
          }
          .RDM {
            text-shadow: -1px 0 1px rgb(172, 41, 151), 0 1px 1px rgb(172, 41, 151), 1px 0 1px rgb(172, 41, 151), 0 -1px 1px rgb(172, 41, 151);
          }
          .BLU {
            text-shadow: -1px 0 1px rgb(24, 61, 154), 0 1px 1px rgb(24, 61, 154), 1px 0 1px rgb(24, 61, 154), 0 -1px 1px rgb(24, 61, 154);
          }
          .GNB {
            text-shadow: -1px 0 1px rgb(121, 109, 48), 0 1px 1px rgb(121, 109, 48), 1px 0 1px rgb(121, 109, 48), 0 -1px 1px rgb(121, 109, 48);
          }
          .DNC {
            text-shadow: -1px 0 1px rgb(139, 110, 110), 0 1px 1px rgb(139, 110, 110), 1px 0 1px rgb(139, 110, 110), 0 -1px 1px rgb(139, 110, 110);
          }
        }
      }
    }
    .dodge {
      text-decoration: line-through;
    }
    .physics {
      color: rgb(255, 100, 100);
    }
    .magic {
      color: rgb(100, 200, 255);
    }
    .darkness {
      color: rgb(255, 175, 255);
    }
    .useless {
      filter: grayscale(100%);
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    ul {
      width: 100vw;
      list-style: none;
      display: inline-flex;
      height: 20px;
      li {
        flex-grow: 1;
        cursor: pointer;
        background: rgba(51, 51, 51, 0.8);
        color: white;
        &:not(:last-of-type) {
          border-right: 0.1rem solid rgba(255, 255, 255, 0.5);
        }
      }
      li.select {
        color: #a0d8ef;
        font-weight: bold;
      }
    }
  }
}
