* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微软雅黑", "Microsoft Yahei UI", Lato, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  user-select: none;
}
body header {
  cursor: pointer;
  z-index: 30;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.75;
}
body header.hide {
  opacity: 1;
  transform: scale(1.75);
  transform-origin: left top;
}
body .anim-opacity2 {
  display: block !important;
  opacity: 0;
  animation: opacity2 1s ease-in-out;
}
@keyframes opacity2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body #hint {
  display: none;
  width: 100vw;
  height: 100vw;
  line-height: 100vw;
  position: fixed;
  font-size: 400%;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 5px #ff0000;
  z-index: 20;
}
body main {
  margin: 0px 0px 20px 0px;
  height: calc(100vh - 20px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(5, 5, 5, 0.45);
}
body main::-webkit-scrollbar {
  width: 10px;
}
body main::-webkit-scrollbar-track {
  background-color: #333333;
}
body main::-webkit-scrollbar-thumb {
  height: 30px;
  border-radius: 10px;
  background-color: rgba(216, 216, 216, 0.4);
}
body main::-webkit-scrollbar-thumb:active {
  background-color: #a0a0a0;
}
body main table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}
body main table thead {
  background-color: rgba(5, 5, 5, 0.45);
}
body main table tbody .spe {
  background: rgba(55, 0, 0, 0.5);
  font-weight: bold;
}
body main table tbody tr {
  cursor: pointer;
  height: 24px;
}
body main table tbody tr:hover {
  background-color: rgba(216, 216, 216, 0.4);
}
body main table tbody tr td {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 2px;
}
body main table tbody tr td:last-child:not(:first-child) {
  display: flex;
  justify-content: center;
}
body main table tbody tr td:last-child:not(:first-child) img {
  height: 24px;
}
body main table tbody tr .YOU {
  font-weight: bold;
  text-shadow: -1px 0 1px #03a9f4, 0 1px 1px #03a9f4, 1px 0 1px #03a9f4, 0 -1px 1px #03a9f4;
}
body main table tbody tr .GLA {
  text-shadow: -1px 0 1px #7b9aa2, 0 1px 1px #7b9aa2, 1px 0 1px #7b9aa2, 0 -1px 1px #7b9aa2;
}
body main table tbody tr .PGL {
  text-shadow: -1px 0 1px #b38915, 0 1px 1px #b38915, 1px 0 1px #b38915, 0 -1px 1px #b38915;
}
body main table tbody tr .MRD {
  text-shadow: -1px 0 1px #a91a16, 0 1px 1px #a91a16, 1px 0 1px #a91a16, 0 -1px 1px #a91a16;
}
body main table tbody tr .LNC {
  text-shadow: -1px 0 1px #3752d8, 0 1px 1px #3752d8, 1px 0 1px #3752d8, 0 -1px 1px #3752d8;
}
body main table tbody tr .ARC {
  text-shadow: -1px 0 1px #adc551, 0 1px 1px #adc551, 1px 0 1px #adc551, 0 -1px 1px #adc551;
}
body main table tbody tr .CNJ {
  text-shadow: -1px 0 1px #5f5f5f, 0 1px 1px #5f5f5f, 1px 0 1px #5f5f5f, 0 -1px 1px #5f5f5f;
}
body main table tbody tr .THM {
  text-shadow: -1px 0 1px #674598, 0 1px 1px #674598, 1px 0 1px #674598, 0 -1px 1px #674598;
}
body main table tbody tr .PLD {
  text-shadow: -1px 0 1px #7b9aa2, 0 1px 1px #7ba1a2, 1px 0 1px #7b9aa2, 0 -1px 1px #7b9aa2;
}
body main table tbody tr .MNK {
  text-shadow: -1px 0 1px #b38915, 0 1px 1px #b38915, 1px 0 1px #b38915, 0 -1px 1px #b38915;
}
body main table tbody tr .WAR {
  text-shadow: -1px 0 1px #a91a16, 0 1px 1px #a91a16, 1px 0 1px #a91a16, 0 -1px 1px #a91a16;
}
body main table tbody tr .DRG {
  text-shadow: -1px 0 1px #3752d8, 0 1px 1px #3752d8, 1px 0 1px #3752d8, 0 -1px 1px #3752d8;
}
body main table tbody tr .BRD {
  text-shadow: -1px 0 1px #adc551, 0 1px 1px #adc551, 1px 0 1px #adc551, 0 -1px 1px #adc551;
}
body main table tbody tr .WHM {
  text-shadow: -1px 0 1px #5f5f5f, 0 1px 1px #5f5f5f, 1px 0 1px #5f5f5f, 0 -1px 1px #5f5f5f;
}
body main table tbody tr .BLM {
  text-shadow: -1px 0 1px #674598, 0 1px 1px #674598, 1px 0 1px #674598, 0 -1px 1px #674598;
}
body main table tbody tr .ACN {
  text-shadow: -1px 0 1px #32670b, 0 1px 1px #32670b, 1px 0 1px #32670b, 0 -1px 1px #32670b;
}
body main table tbody tr .SMN {
  text-shadow: -1px 0 1px #32670b, 0 1px 1px #32670b, 1px 0 1px #32670b, 0 -1px 1px #32670b;
}
body main table tbody tr .SCH {
  text-shadow: -1px 0 1px #32307b, 0 1px 1px #32307b, 1px 0 1px #32307b, 0 -1px 1px #32307b;
}
body main table tbody tr .ROG {
  text-shadow: -1px 0 1px #ee2e48, 0 1px 1px #ee2e48, 1px 0 1px #ee2e48, 0 -1px 1px #ee2e48;
}
body main table tbody tr .NIN {
  text-shadow: -1px 0 1px #ee2e48, 0 1px 1px #ee2e48, 1px 0 1px #ee2e48, 0 -1px 1px #ee2e48;
}
body main table tbody tr .MCH {
  text-shadow: -1px 0 1px #148aa9, 0 1px 1px #148aa9, 1px 0 1px #148aa9, 0 -1px 1px #148aa9;
}
body main table tbody tr .DRK {
  text-shadow: -1px 0 1px #682531, 0 1px 1px #682531, 1px 0 1px #682531, 0 -1px 1px #682531;
}
body main table tbody tr .AST {
  text-shadow: -1px 0 1px #b1561c, 0 1px 1px #b1561c, 1px 0 1px #b1561c, 0 -1px 1px #b1561c;
}
body main table tbody tr .SAM {
  text-shadow: -1px 0 1px #e45a0f, 0 1px 1px #e45a0f, 1px 0 1px #e45a0f, 0 -1px 1px #e45a0f;
}
body main table tbody tr .RDM {
  text-shadow: -1px 0 1px #ac2997, 0 1px 1px #ac2997, 1px 0 1px #ac2997, 0 -1px 1px #ac2997;
}
body main table tbody tr .BLU {
  text-shadow: -1px 0 1px #183d9a, 0 1px 1px #183d9a, 1px 0 1px #183d9a, 0 -1px 1px #183d9a;
}
body main table tbody tr .GNB {
  text-shadow: -1px 0 1px #796d30, 0 1px 1px #796d30, 1px 0 1px #796d30, 0 -1px 1px #796d30;
}
body main table tbody tr .DNC {
  text-shadow: -1px 0 1px #8b6e6e, 0 1px 1px #8b6e6e, 1px 0 1px #8b6e6e, 0 -1px 1px #8b6e6e;
}
body main .dodge {
  text-decoration: line-through;
}
body main .physics {
  color: #ff6464;
}
body main .magic {
  color: #64c8ff;
}
body main .darkness {
  color: #ffafff;
}
body main .useless {
  filter: grayscale(100%);
}
body footer {
  position: fixed;
  bottom: 0;
}
body footer ul {
  width: 100vw;
  list-style: none;
  display: inline-flex;
  height: 20px;
}
body footer ul li {
  flex-grow: 1;
  cursor: pointer;
  background: rgba(51, 51, 51, 0.8);
  color: white;
}
body footer ul li:not(:last-of-type) {
  border-right: 0.1rem solid rgba(255, 255, 255, 0.5);
}
body footer ul li.select {
  color: #a0d8ef;
  font-weight: bold;
}
