body {
  .readMe {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    color: white;
    text-shadow: -1px 0 2px #000, 0 1px 2px #000, 1px 0 2px #000, 0 -1px 2px #000;
    display: none;
    font-family: "微软雅黑";
    font-weight: bold;
    background-color: rgba(0, 0, 150, 0.2);
    position: fixed;
    bottom: 0; //不可以删掉
    font-size: 16px;
    align-items: flex-end;
    justify-content: center;
  }
  .text {
    width: 90vw;
    padding-bottom: 8px;
  }
}
