* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", "Microsoft Yahei UI", Lato, Arial, Helvetica, sans-serif;
  font-size: 12px;
  user-select: none;
}
body {
  overflow: hidden;
  // background-color: rgba(0, 0, 0, 0.25);
  #readMe {
    background-color: rgba(0, 0, 150, 0.2);
    height: 100vw;
    width: 100vw;
    position: fixed;
    z-index: 10;
    color: white;
    text-shadow: -1px 0 2px #000, 0 1px 2px #000, 1px 0 2px #000, 0 -1px 2px #000;
  }
  header {
    position: fixed;
    top: 0;
    cursor: pointer;
    color: white;
    aside {
      display: inline;
      padding: 0px 2px;
    }
  }
  main {
    section {
      margin-top: 20px;
      animation: fadeInRight 10s linear;
      position: absolute;
      opacity: 0;
      height: 48px;
      width: 48px;
      img:nth-of-type(1) {
        height: 40px;
        width: 40px;
      }
      img:nth-of-type(2) {
        height: 48px;
        width: 48px;
        position: absolute;
        top: -4px;
        left: -4px;
      }
    }
    .oGCD {
      transform: scale(0.75);
      transform-origin: bottom left;
    }
    .AA {
      background-image: url(https://cafemaker.wakingsands.com/i/000000/000101.png);
      background-size: cover;
      transform: scale(0.25);
      top: -35px;
    }
  }
}
@keyframes fadeInRight {
  from {
    opacity: 1;
    right: 0%;
  }
  to {
    opacity: 1;
    right: 100%;
  }
}
