html {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
#readMe {
  padding: 5px;
  font-weight: bold;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
  font-size: 14px;
  color: white;
  background-color: rgba(0, 0, 150, 0.2);
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
}
p {
  margin: 0px 0px;
  text-align: right;
  /* width: 100%; */
  height: 26px;
  line-height: 26px;
}
#readMe p {
  margin: 0px 0px;
  text-align: left;
}
#macro {
  width: 80px;
}
#test-id {
  width: 80px;
}
#test-server {
  width: 55px;
}
main {
  color: #e1f2f5;
  font-family: Avenir, Arial, sans-serif;
  border-collapse: collapse;
  background-color: #000;
  font-weight: bold;
  white-space: nowrap;
  list-style: none;
  padding: 0px;
  width: 80px;
}
main > p {
  border-bottom: 1px solid #333;
  box-sizing: border-box;
}

.boss-icon {
  position: absolute;
  left: 0%;
  width: 24px;
  height: 24px;
  border: 1px solid #555555;
  margin-right: 3px;
  vertical-align: -9px;
}

.tiny-icon {
  width: 24px;
  height: 24px;
  vertical-align: -6px;
  --size: 24;
}
.sprite {
  object-fit: cover;
}
.actor-sprite-Arcanist {
  object-position: calc(-1px * var(--size)) 0;
}
.actor-sprite-Archer {
  object-position: calc(-15px * var(--size)) 0;
}
.actor-sprite-Astrologian {
  object-position: calc(-2px * var(--size)) 0;
}
.actor-sprite-Bard {
  object-position: calc(-3px * var(--size)) 0;
}
.actor-sprite-BlackMage {
  object-position: calc(-4px * var(--size)) 0;
}
.actor-sprite-BlueMage {
  object-position: calc(-5px * var(--size)) 0;
}
.actor-sprite-Boss {
  object-position: calc(-6px * var(--size)) 0;
}
.actor-sprite-Conjurer {
  object-position: calc(-7px * var(--size)) 0;
}
.actor-sprite-Dancer {
  object-position: calc(-8px * var(--size)) 0;
}
.actor-sprite-DarkKnight {
  object-position: calc(-9px * var(--size)) 0;
}
.actor-sprite-Dragoon {
  object-position: calc(-10px * var(--size)) 0;
}
.actor-sprite-Gladiator {
  object-position: calc(-11px * var(--size)) 0;
}
.actor-sprite-Gunbreaker {
  object-position: calc(-12px * var(--size)) 0;
}
.actor-sprite-Lancer {
  object-position: calc(-13px * var(--size)) 0;
}
.actor-sprite-LimitBreak {
  object-position: calc(-14px * var(--size)) 0;
}
.actor-sprite-Machinist {
  object-position: calc(0px * var(--size)) 0;
}
.actor-sprite-Marauder {
  object-position: calc(-16px * var(--size)) 0;
}
.actor-sprite-Monk {
  object-position: calc(-17px * var(--size)) 0;
}
.actor-sprite-NPC {
  object-position: calc(-19px * var(--size)) 0;
}
.actor-sprite-Ninja {
  object-position: calc(-18px * var(--size)) 0;
}
.actor-sprite-Paladin {
  object-position: calc(-20px * var(--size)) 0;
}
.actor-sprite-Pet {
  object-position: calc(-21px * var(--size)) 0;
}
.actor-sprite-Pugilist {
  object-position: calc(-22px * var(--size)) 0;
}
.actor-sprite-RedMage {
  object-position: calc(-23px * var(--size)) 0;
}
.actor-sprite-Rogue {
  object-position: calc(-24px * var(--size)) 0;
}
.actor-sprite-Samurai {
  object-position: calc(-25px * var(--size)) 0;
}
.actor-sprite-Scholar {
  object-position: calc(-26px * var(--size)) 0;
}
.actor-sprite-Summoner {
  object-position: calc(-27px * var(--size)) 0;
}
.actor-sprite-Thaumaturge {
  object-position: calc(-28px * var(--size)) 0;
}
.actor-sprite-Warrior {
  object-position: calc(-29px * var(--size)) 0;
}
.actor-sprite-WhiteMage {
  object-position: calc(-30px * var(--size)) 0;
}
.artifact {
  color: #e5cc80;
}
.legendary {
  color: #ff8000;
}
.astounding {
  color: #e268a8;
}
/* .magnificent {
  color: #be8200;
} */
.epic {
  color: #a335ee;
}
.rare {
  color: #0070ff;
}
.uncommon {
  color: #1eff00;
}
.common {
  color: #666;
}
.rank-percent {
  font-size: 14px;
}
.tiny-icon {
  float: right;
  padding-left: 3px;
}
