a:link {
  color: #00cc00;
  text-decoration: none;
}

a:visited {
  color: #00cc00;
  text-decoration: none;
}

a:hover {
  color: 00cc00;
  text-decoration: none;
  font-weight: bold;
}

a:active {
  color: #00cc00;
  text-decoration: none;
}
p {
  margin: 5px 0px;
  width: 150px;
}
/* #tranText:hover::after {
  content: "这需要访问XIVAPI,如网络不通畅可能卡顿";
  font-style: italic;
} */
/* #save{
  position: absolute;
  bottom: 5%;
} */